.header__title {
  padding-left: 64px; /* Отступ слева */
  width: 730px; /* Ширина элемента */
  line-height: 96px; /* Высота строки */
  font-size: 102px; /* Размер шрифта */
  font-weight: 600; /* Начертание шрифта */
  margin: 0; /* Убираем отступы по умолчанию */
  z-index: 1; /* Устанавливаем уровень наложения */
  color: #000; /* Цвет текста */
}
